<h1>Kittens</h1>
<% @kittens.each do |kitten| %>
  <ul>
    <li>Name: <%= kitten.name %></li>
    <li>Age: <%= kitten.age %></li>
    <li>Cuteness: <%= kitten.cuteness %> </li>
    <li>Softness: <%= kitten.softness %></li>
    <li><%= link_to 'Show details', kitten %></li>
  </ul>
<% end %>

<%= link_to 'Submit your own!', new_kitten_path %>
